* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#mainBody {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgb(44, 40, 52),
    rgba(182, 122, 139, 0.867)
  );
  /* position: sticky;
  top: 0; */
  /* //! Heart of Css */
  display: flex;
  justify-content: center; /* //! horizontally center mein lana*/
  align-items: center; /*//! vertically center mein lana*/
}
.nameBox{
    width: 40%;
    /* border: 3px solid white; */
}
/* //? You can also use nameBox>h1  */
.nameBox h1 {
  color: black;
  font-size: 100px;
}
.nameBox > p {
  color: white;
  font-size: 40px;
}
nav {
  width: 6vw;
  height: 60vh;
  /* background: #513c4a; */
  position: fixed;
  left: 20px;
  border-radius: 20px;
}
nav div {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 10px;
  /* border: 1px solid snow; */
  background: #baa9b4;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav div a i {
  color: black;
  font-size: 30px;
}
.aboutSection {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(182, 122, 139, 0.867),
    rgb(44, 40, 52)
  );
  /* //?  to center the content of child */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  top: 0; */
}
.aboutSection main {
  /* //? to make the content in center we should add css in parent node i.e aboutsection */
  width: 80%;
  height: 80%;
  /* border: 2px solid black; */
  /* parent of article */
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutSection main article {
  width: 50%;
  height: 100%;
  /* border: 3px solid red; */
  /* to make it center give flex property in parent node i.e main */
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 30px;
  margin: 10px;
}
.about {
  width: 80%;
  height: 60%;
  /* background: burlywood; */
  display: flex;
}
.aboutArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
  color: black;
}
.about div {
  width: 80%;
  height: 100%;
  /* border: 3px solid ; */
  padding: 30px;
  background: rgba(153, 112, 134, 0.678);
  border-radius: 30px;
  margin: 10px;
}
.about li {
  padding: 6px;
  list-style: none;
}
.about ul {
  padding-top: 20px;
}
.aboutSection h1 {
  font-size: 45px;
}
.aboutArticle p {
  font-size: 20px;
}
/* .about ul p{
  font-size: 1.12em;
} */
.projects {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgb(44, 40, 52),
    rgba(182, 122, 139, 0.867)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects main {
  border-radius: 20px;
  width: 80%;
  height: 80%;
  border: 3px solid;
  padding-bottom: 20px;
}
.projects main h2 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  color: beige;
  padding: 31px;
}
.projects main article {
  width: 100%;
  height: 80%;
  /* background-color: rgba(0, 0, 0, 0.249); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.projects main article div {
  width: 45%;
  height: 45%;
  /* border: 3px solid; */
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.projects main article div p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 15px;
}
.projects main article div h1 {
  text-decoration: underline;
  color: white;
  font-size: 30px;
}
.experience {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(182, 122, 139, 0.867),
    rgb(44, 40, 52)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievements {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgb(44, 40, 52),
    rgba(182, 122, 139, 0.867)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(182, 122, 139, 0.867),
    rgb(44, 40, 52)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience > main,
.achievements main,
.contact main {
  width: 80%;
  height: 80%;
  /* border: 3px solid; */
}
.experience main h1 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  color: beige;
  padding: 31px;
}
.experience main article {
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.249);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}
.experience main article ul {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.experience main article h3 {
  font-size: 20px;
}
.experience main article p {
  font-size: 20px;
}

.contact main h1 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  color: beige;
  padding: 31px;
}
.contact main article {
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.249);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
}
.info,
.contactForm {
  width: 45%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.249);
  padding: 12px;
}
.info p {
  font-size: 15px;
  color: beige;
  padding: 7px;
}
.info a {
  color: beige;
}
.allLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 27px;
}
.allLinks a {
  color: beige;
  padding-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
}
input , textarea {
  color: rgb(196, 196, 196);
  height: 45px;
  background: rgba(0, 0, 0, 0.285);
  outline: none;
  border: none;
  padding: 7px;
}
textarea {
  height: 150px;

}
form>a{
  display: inline-block;
  color: rgb(196, 196, 196);
padding: 12px;
width: 100%;
text-align: center;
text-decoration: none;
background: gray;
}